.App {
  text-align: center;
  padding-bottom: 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.isLike{
  padding: 5vh 0 ;
}
span.bold{
  font-weight: bold;
  font-size: calc(10px + 3vmin)
}
.warning{
  padding: 5vh;
  margin: 3vh 0;
  background-color: yellow;
}
.am-button{
  overflow: inherit;
  margin-right: 10px;
  height: 35px;
  line-height: 35px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
